<!DOCTYPE html>
<html lang="en">
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
     <link href="../dist/css/select2.min.css" rel="stylesheet" />
    <script src="../dist/js/select2.min.js"></script> 
    <title>album discusser</title>
    <link id="favicon" rel="icon" href="" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/index.css">
  </head>
  <body>
    <header role="banner">
      <h1>test test donald trump rita's ice</h1>
    </header>

    <select class="js-genre-selector">
      <option value="3620194" selected="selected">please select a tag</option>
    </select>

    <script src="../public/index.js"></script>
  </body>
</html>


<!-- only need to use file names when referring to js and css files because of how express is set up -->