<!DOCTYPE html>
<html lang="en">
  <head>
    <title>album discusser</title>
    <link id="favicon" rel="icon" href="" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="index.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
    <link href="css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="jquery.leanModal.min.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="jquery-ui.structure.css">
    <link rel="stylesheet" href="jquery-ui.theme.css">
    <link rel="stylesheet" href="jquery-ui.css">
  </head>
  <body>

     <div>
      <div id='banner'><h1>album discusser</h1></div>
      <div id='signup-button'>
          <div class="container">
            <a id="modal_trigger" href="#modal" class="btn">sign up!</a>
          <div id="modal" class="popupContainer" style="display:none;">
            <header class="popupHeader">
              <span class="header_title">Login</span>
              <span class="modal_close"><i class="fa fa-times"></i></span>
            </header>
            <section class="popupBody">
              <div class="user_register">
                <form>
                  <label>username</label>
                  <input type="text" id='js-signup-username'/>
                  <br />

                  <label>password</label>
                  <input type="password" id='js-signup-password' />
                  <br />

                  <div class="action_btns">
                  <div class="one_half last"><a href="#" class="btn btn_red" id='js-signup-button'>sign me up!</a></div>
                  <div id='js-signup-success' hidden><span>user successfully created</span></div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div> 

    <div id='js-start-view'>
      <div id='album-searcher'>
        <label for="js-album-searcher">find by artist</label>
        <input id="js-album-searcher">
        <button id='js-album-search-button'>search</button>
      </div>

      <div id='genre-selector' hidden>
        <input type='hidden' id='js-album-id'></input>
          <select id="js-genre-selector">
          <option>tag album</option>
        </select>  
      </div>

      <div id='comment-form' hidden>
        <input type='hidden' id='js-album-id'></input>
        <textarea cols="38" rows="5" id='js-comment-submit-box'></textarea>
        <div>
          <button id='js-comment-submit-button'>submit comment</button>
        </div>        
      </div>
    </div>

    <div id='js-album-view' hidden>
      <div id='js-album-header-view'></div>
      <div id='js-comments-header'></div>
      <div id='js-comments-view'></div>
      <div id='js-tags-view'></div>
    </div>
  </body>
</html>